@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 133, 23;
  --background-start-rgb: 255, 246, 219;
  --background-end-rgb: 255, 246, 219;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 133, 23;
    --background-start-rgb: 255, 246, 219;
    --background-end-rgb: 255, 246, 219;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'PlantagenetCherokee', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'PlantagenetCherokee';
  src: url('/fonts/PlantagenetCherokee.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
